.heading {
  text-align: center;
}

.todo {
  text-align: center;
}

.todo input {
  padding: 10px;
  font-size: 30px;
}

.todo button {
  padding: 10px;
  font-size: 30px;
  margin-left: 10px;
}

.list {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.list button {
  background-color: rgb(200, 145, 200);
  padding: 5px;
  font-size: 20px;
  margin-left: 10px;
}

.list div {
  display: flex;
  margin-bottom: 10px;
}
